::ng-deep .ui-table.ui-table-cars .ui-table-caption.ui-widget-header {
    border: 0 none;
    padding: 12px;
    text-align: left;
    font-size: 20px;
}

::ng-deep .ui-column-filter {
    margin-top: 1em;
}

::ng-deep .ui-column-filter .ui-multiselect-label {
    font-weight: 500;
}

::ng-deep .ui-table.ui-table-cars .ui-table-thead > tr > th {
    border: 0 none;
    text-align: left;
}

::ng-deep .ui-table-globalfilter-container {
    float: right;
    display: inline;
}

::ng-deep .ui-table.ui-table-cars .ui-table-tbody > tr > td {
    border: 0 none;
}

::ng-deep .ui-table.ui-table-cars .ui-table-tbody .ui-column-title {
    font-size: 16px;
}

::ng-deep .ui-table.ui-table-cars .ui-paginator {
    border: 0 none;
    padding: 1em;
}

::ng-deep p-table .backPage{
    cursor: pointer;
}
